body {
	padding-top: 0 !imporant;
}

nav {
	transition: background 0.1s;
}

nav.aboveVideo {
	background: transparent;
}

#frontWelcome {
	color: white;
	font-size: 3em;
	padding-top: 125px;
	padding-bottom: 125px;
	text-align: center;
}

.hex-dl-btn, .hex-dl-btn:hover {
	background-color: green;
	border: solid 3px green;
	border-radius: 5px;
	color: white;
	font-size: .6em;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.hex-dl-btn .fa {
	margin-top: 0;
	transition: margin-top 0.2s;
}

.hex-dl-btn:hover .fa {
	margin-top: 5px;
}
