body {
	padding-top: 0 !important;
}

@keyframes welcomeFade {
	0% {
		transform: translateY(40px);
		opacity: 0;
	}
	75% {
		transform: translateY(7px);
		opacity: 0.95;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.hex-welcome-text {
	animation-name: welcomeFade;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

nav {
	border-color: transparent !important;
	color: white;
	transition: background .5s;
}

nav.aboveVideo {
	background: transparent;
}

.navbar-nav>li>a {
	transition: color .5s;
}

.navbar-inverse.aboveVideo .navbar-nav>li>a {
	color: #CCC;
}

.navbar-inverse.aboveVideo .navbar-nav>li>a:hover {
	color: #FFF;
}

#frontWelcome {
	box-shadow: 1px 2px 5px black;
	color: white;
	font-size: 4em;
	padding-top: 125px;
	padding-bottom: 125px;
	text-align: center;
}

#hex-lead-info {
	font-size: 4em;
	padding-top: 20px;
	padding-bottom: 15px;
	text-align: center;
}

.hex-dl-btn, .hex-dl-btn:hover, .hex-dl-btn:active, .hex-dl-btn:active:hover {
	background-color: green;
	border: solid 3px green;
	border-radius: 5px;
	color: white;
	font-size: .5em;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 50px;
	padding-right: 10px;
	position: relative;
	text-align: right;
}

.hex-dl-btn .fa {
	position: absolute;
	top: 13px;
	left: 12px;
	transition: top 0.2s;
}

.hex-dl-btn:hover .fa, .hex-dl-btn:active .fa, .hex-dl-btn:active:hover .fa {
	top: 19px;
}
