#frontWelcome {
	color: white;
	font-size: 3em;
	padding-top: 125px;
	padding-bottom: 125px;
	text-align: center;
}

.hex-dl-btn {
	background-color: white;
	border: solid 3px green;
	border-radius: 5px;
	color: green;
	font-size: .5em;
}
